[submodule "dependencies/tinygltf"]
	path = dependencies/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "dependencies/happly"]
	path = dependencies/happly
	url = https://github.com/nmwsharp/happly.git
